@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap');

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Barlow Condensed", sans-serif;
}

.hero__product-subheadline {
  font-family: "Barlow", sans-serif;
}